.head{
    display: flex;
    justify-content:space-around;
    gap: 30px;
    width: 100%;
    align-items: center;
    border-bottom: 1px dashed black;
    margin: 5px;
}
.head {
    h2{
        border:2px solid black;
        margin: 5px;
        padding: 5px;
        width: 210px;
    }
}

.head {
    a{
        text-decoration: none;
        background-color:black;
        text-align: center;
        padding: 5px;
        color: white;
    }
}

.foot{
    padding: 10px;
    border-top: 1px dashed;
    margin: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;    
    text-align: center;
}
.foot span{
    padding: 20px;
    margin:10px;
}
.main{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    
}
.left{
    width: 20%;
    padding: 20px;
    background-color: lightgrey;
}
.primary-nav{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.primary-nav{
    span{
        padding:10px;
        margin: 5px;
        border: 2px solid white;
        background-color: white;
    }
}

.center{
    width: 60%  
}
.right{
    width: 20%;
    background-color: lightgrey;
    padding: 20px;
}
.share{
    h4{
        padding: 0px;
    }
}
.share{
    ul{
    background-color: white;
    margin: 10px;
    align-items: center;
   }
}

.share {
    li{
        padding: 5px;
    }
}

.reco{
    padding: 10px;
    gap: 5px;
}
.reco1{
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    gap: 2px;
    background-color: white;
}
.reco1{
    a{
        color: black;
    }
}
.center{
    h3{
        margin: 5px;
    }
}
.center{
    p{
        margin: 0;
    }
}

/* 
.header{
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}
.header nav{
    width:97%;
}
.header img{
    margin-left: 5%;
}

.header button{
    margin-right: 2%;
    border-radius: 0;
    height: 30px;
    float: right;
    margin-top: 30px;
    width: 70px;
}

.header input{
    width: 170px;
    height: 30px;
    float: right;
    margin-top: 30px;
}


.header nav a{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 30px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
    float: none;
}

.mnbdy{
    display: flex;
    width: 100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.lefty{
    display: flex;
    float: left;
    width: 250px;
    height: 300px;
    margin-left: 0px;
    padding-left: 35px;
    border-left-width: 0px;
    border-left-style: solid;
}

.lefty ul{
    background-color: rgb(195, 195, 195);
    padding: 15px;
    border: none;
}

.lefty ul li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid;
    border: none;
    width: 200px;

}

.lefty li a{
    background-color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    font-size: 20px;
}

.lefty a{
    text-decoration: none;
    gap: 20px;
    color: blue;
}

.scd{
    border-style: solid;
    border: none;
    padding-top: 23px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 35px;
    text-align: justify;
    margin: 0 80px;
}

.righty{
    display:flex;
    flex-direction: column;
    margin-right: 60px;
    background-color: grey;
    padding-left: 86px;
    margin-right: 104px;
    width: 155px;
    height: 531.7px;
    justify-content: left;
}
.righty .upper, .mid, .lower{
    background-color: white;
}

.righty h3 ul .mid .lower{
    margin-left: 5px;
    padding: 10px;
}

.footer{
    text-align: center;
    margin: 20px;
}
.footer a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

hr{
    border-style: dashed;
    width: 90%;
} */