.webs{
    width: 100%;
    display: flex;
}

.header {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}
.header a {
  float: left;
  color: #bab9b9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header .w{
    color: white;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}

.opt ul li{
    padding: 20px;
    width: 300px;
    text-align: justify;
}
.opt a{
    text-decoration: none;
    gap: 20px;
    color: blue;
}
.right{
    margin-top: 10px;
    margin-right:20px;
    padding: 20px;
    display: flex;
    justify-content: right;
}
.right ul li{
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
    border-collapse: collapse;
    border-color:#bab9b9;
}
.left{
    width: 75%;
    margin-top: 45px;
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 10px;
}
.tabs{
    background-color: rgb(195, 195, 195);
    padding-left: 20px;
    color: rgb(52, 52, 52);
    border-radius: 5px;
}
.tabs a{
    text-decoration: none;
    color:rgb(85, 85, 85);
    padding:15px;
}
.tabs .home{
    color: blue;
}
.title{
    background-color: rgb(195, 195, 195);
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.data{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}