body{
    background-color: rgb(242, 199, 146);
    width: 100%;
    height:100%;
}

.box1 .box2{
    height: 50%;
}

.col-box {
    float: left;
    width: 350px;
    border: 1px solid #ccc;
    padding: 8px;
    background: #fff;
    margin: 0 23px 0 0;
}
.space-cont {
    margin: 10px;
}
.space-cont a{
    text-decoration: none;
}
.col-box h3 {
    font-size: 13px;
    color: #e11613;
    margin-bottom: 8px;
}
.col-box h3 a {
    font-size: 13px;
    color: #e11613;
}
.col-box h3 a:hover {
    color: #000;
}
.col-box p {
    font-size: 12px;
    color: #333;
    line-height: 18px;
    margin-bottom: 10px;
}
.col-box a {
    color: #248000;
    font-size: 12px;
    text-decoration: none;
}
.col-box a:hover {
    color: #000;
}
.col-box.last {
    margin-right: 0px;
}