.col-box, .col-box-1, .col-box-2, .col-box-3, .col-box-4, .col-box-5{    
    
        float: left;
        width: 210px;
        border: 1px solid #ccc;
        padding: 8px;
        background: #fff;
        margin: 0 23px 0 0;
    
    .space-cont {
        margin: 10px;
    }
    .h3 {
        font-size: 13px;
        color: #e11613;
        margin-bottom: 8px;
    }
    .h3 a {
        font-size: 13px;
        color: #e11613;
    }
    .h3 a:hover {
        color: #000;
    }
    .p {
        font-size: 12px;
        color: #333;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .a {
        color: #248000;
        font-size: 12px;
    }
    .a:hover {
        color: #000;
    }
    .last {
        margin-right: 0px;
    }
}                       