.transition {
    width:150px;
    height:150px;
    background-color:orangered;
    cursor: pointer;
    transition:border-radius 500ms ease;
}
.transition:hover {
    border-radius: 50%;
}

.transition-effect {
    width:150px;
    height:150px;
    background:rgb(44, 31, 167);
    cursor: pointer;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, transform 2s;
}

.transition-effect:hover {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
/* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.transition-move {
    width: 150px;
    height: 150px;
    background-color: orangered;
    cursor: pointer;
    -webkit-transition: -webkit-transform 5s;
/* For Safari 3.1 to 6.0 */
    transition: transform 5s;
    display: inline-block;
}

.transition-move:hover {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}