.para{
    text-align: justify;
}
p{
    margin-top: 20px;
    margin-right: 440px;
    margin-left: 40px;
}
h4{
    margin-left: 40px;
}

.shape1{
    width:300px;
    height:300px;
    background-color: rgb(61, 184, 241);
    position: absolute;
    top: 0px;
    right: 0px;
}
.shape2{
    width:300px;
    height:300px;
    background-color: rgb(243, 114, 85);
    position: absolute;
    top: 300px;
    right: 400px;
    z-index: -1;
}