body{
    background-color: grey;
    width: 100%;
}

.cont header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 8rem;
}

.cont{
    text-align: left;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont img{
    position: absolute;
    bottom: 15px;
}