.main{
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    width: 80%;
}

.content{
    margin-top: 50px;
    background-color: lightgrey;
    position:absolute;
    width: 60%;
    padding: 32px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.shape{
    width: 20px;
    height:20px;
    background-color: red;
    color:white;
    border-radius: 50%;
    padding:20px;
    position: relative;
    top:1.5rem;
    left: 61.5rem;
}


/* .left-pos-div {
    width: 450px;
    float: left;
}
.position-left-preview {
    text-align: justify;
    width: 450px;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
.color-bg1 {
    width: 370px;
    height: 105px;
    border: 1px solid red;
    background: #333333;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    padding: 80px 100px 190px 80px;
    color: #fff;

}
.position-circle img{
    background-position: center;
    opacity: 0.8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 10px 5px 5px 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.position-circle .amt{
    z-index: 1;
    position: absolute;

} */