input[type=text] {
width: 150px;
display: block;
margin-bottom: 10px;
background-color: yellow;
}

input[type=button] {
width: 120px;
margin-left: 35px;
display: block;
}
.flex-normal {
display: flex;
text-align: center;
background-color: DodgerBlue;
}

.flex-normal > div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
flex: 1;
}
.flex-short {
display: flex;
background-color: DodgerBlue;
}

.flex-short > div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}

input[type=text], input[type=password] {
border: 1px solid #ffe045;
color: #6a6a6a;
font-size: 12px;
padding: 4px 2px;
height: 18px;
border-radius: 3px;
font-family: Arial, Helvetica, sans-serif;
}
.valign-midd {
vertical-align: middle;
}