#main-wrapper {
      width: 500px;
      float: left;
      background: #2f8a00;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      border: solid 1px #246702;
}
#main-wrapper #header {
      clear: both;
      background: #5eaa00;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      border-radius: 3px;
}
#main-wrapper #middle {
      clear: both;
      background: #5eaa00;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 80px 0;
      margin: 10px 0;
      border-radius: 3px;
}
#main-wrapper #footer {
      clear: both;
      background: #5eaa00;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      border-radius: 3px;
}
#main-wrapper-2 {
      width: 500px;
      float: left;
      text-align: center;
      background: #2f8a00;
}
#main-wrapper-2 #header {
      clear: both;
      background: #9ee843;
      text-align: center;
      padding: 10px 0;
}
#main-wrapper-2 #middle {
      clear: both;
      text-align: center;
      background: #5eaa00;
      padding: 80px 13px;
}
#main-wrapper-2 #middle .left-middle {
      width: 360px;
      text-align: center;
      padding: 80px 10px;
      float: left;
      background: #f40000;
}
#main-wrapper-2 #middle .right-middle {
      width: 70px;
      text-align: center;
      padding: 80px 10px;
      float: left;
      background: #adc52b;
}
#main-wrapper-2 #footer {
      clear: both;
      text-align: center;
      background: #5eaa00;
      padding: 10px 0;
}

#main-wrapper-3 {
      width: 500px;
      float: left;
      text-align: center;
      background: #ff0000;
}
#main-wrapper-3 #header {
      clear: both;
      background: #5ef643;
      padding: 10px 0;
}
#main-wrapper-3 #middle {
      clear: both;
      background: #90ff07;
      padding: 80px 13px;
}
#main-wrapper-3 #middle .left-middle {
      width: 70px;
      padding: 80px 10px;
      float: left;
      background: #00eaff;
}
#main-wrapper-3 #middle .right-middle {
      width: 360px;
      padding: 80px 10px;
      float: left;
      background: #adc52b;
}
#main-wrapper-3 #footer {
      clear: both;
      background: #5ef643;
      padding: 10px 0;
}

