.navbar img{
    display: flex;
    justify-content: center;
}
.navbar ul li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(0, 115, 255);
    font-size: small;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
}

.navbar ul{
    list-style-type: none;
    margin:5px;
    padding: 0;
    overflow: hidden;
    display:flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    
}

ul li{
    float: right;
    width: 100%;
}


.img-box {
    position: relative;
    width: 1330px;
    height: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

.img-box img {
    width: 1330px;
    height: 550px;
    display: block;

}

.img-text {
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translate(-50%, -20%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}