table, th, td {
  border: 1px solid black;
}
table{
    border: hidden;
}

td{
    background-color: white;
}

table{
    border-spacing: 30px;
    width:100%;
    padding: 20px 20px 20px 20px;
    background-color: rgba(59, 58, 57, 0.491);
}

th:nth-child(1),td:nth-child(1) {
  background-color: #706e6ec1;
}

th, td {
  text-align: center;
  /* padding: 8px; */
}

tr:nth-child(1) {
  background-color: #706e6ec1;
}
tr:nth-child(2 ){
    background-color: #706e6ec1;
}