.form{
    border-radius: 15px;
    border-color: rgba(130, 129, 129, 0.777);
    background-color: rgba(186, 186, 186, 0.697);
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    font-family:'Courier New', Courier, monospace;
}

.form p{
    font-size: 11px;
}

#fname, #lname{
    width: 48.5%;
    height: 35px;
    field-sizing: content;
    max-width: 48.5%;
    border-color: rgba(130, 129, 129, 0.777);
}

#email, #number{
    width: 99%;
    height: 35px;
    border-color: rgba(130, 129, 129, 0.777);
}

#account, #business, #management, #officework, #receptionist{
    font-size:50px;
    border-color: rgba(130, 129, 129, 0.777);
}

.form h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
}

input[type=submit] {
  width: 30%;
  background-color: #000000;
  color: white;
  padding: 15px;
  margin: 8px 1px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#country{
    width: 100%;
    height: 39px;
    border-color: rgba(130, 129, 129, 0.777);
}

.submit{
    text-align: center;
}
